/*
os=WINNT osversion<6.0
*/

#rambler_plugbar-Toolbar *[plugtype="widget"] label,
#rambler_plugbar-Toolbar *[wgtype="static"] label {
	padding-bottom:1px !important;
}

#rambler_plugbar-Toolbar toolbaritem textbox {
	margin:  3px 0 3px 0;
	padding:  0 0 1px 0;
}

/* dropmarker */
#rambler_plugbar-Toolbar toolbarbutton dropmarker {
	list-style-image: url("chrome://rambler_plugbar/skin/arrow.png") !important;
	width: 9px;
}

#rambler_plugbar-Toolbar .toolbarbutton-menubutton-dropmarker {
  -moz-appearance: none;
  padding: 3px 3px 3px 1px;
  border: none;
  background-color: transparent;
  width: auto;
  margin-top: 0;
}

#rambler_plugbar-Toolbar .toolbarbutton-menu-dropmarker {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
  padding: 0;
  width: auto;
  height: auto;
  margin-top: 1px;
}