.alertBox {
  border: 2px solid #7B969C;
  background-color: #fff !important;
  min-height: 50px;
}
/*
  background-color: -moz-Dialog;
*/
.alertText[clickable="true"] {
  color: #333 !important;
  text-decoration: none !important;
}  
  
/*
  color: -moz-nativehyperlinktext;
  text-decoration: underline;

.alertText[clickable="true"]:hover:active {
  color: #424F63;
}
*/