﻿@namespace url(http://www.w3.org/1999/xhtml);

*.bold {
	font-weight: bold !important;
}

*.bg-blue {
	background-color: #00f;
}

window {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 12px;
  font-weight: normal;
  font-family: Verdana, Helvetica, Arial;
  color: #272727;
  border: none;
  -moz-appearance: none !important;
  background-image: none !important;
  background-color: transparent !important;
}

.btnClose { font-size:14px !important; }
.block {
	font-family: Arial;
	font-size: 13px;
	line-height:16px;
	background:#fff url(assist-icons.gif) repeat-x 0 -96px;
}
.block .closer {
	float: right;
	width: 28px;
	height: 28px;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
}

.block a {
	color:#035178;
}
.block a:hover {
	text-decoration:none;
}
.block .hidden-link {
	color:inherit;
	text-decoration:none;
}
.block .head {
	min-height: 28px;
	padding-left: 10px;
	border-bottom: 1px solid #a1a1a1;
	margin: 0;
}
.block .foot p,
.block .head p {
	margin:0;
	line-height: 28px;
}
.block ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.block ul li {
	border-bottom: 1px solid #a1a1a1;
}

.block ul li:last-child {
	border-bottom: none;
}

.block ul a {
	display:block;
	padding: 5px 10px 5px 20px;
	text-decoration:none;
}
.block ul a:hover {
	background: #dedfe4;
}
.block ul .marker {
	float:left;
	width:10px;
	height:18px;
	overflow:hidden;
	margin-left:-15px;
	text-align:center;
	font-size:30px;
	color:#ccc;
}
.block ul .hot-new .marker {
	color:#50be20;
}
.block .foot {
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	margin: 0;
}
.block .foot a {
	margin:0 20px 0 0;
}
.block .z-icon {
	float:left;
	width:32px;
	height:32px;
	margin:6px 10px 0 0;
}
.block .z-icon img { 
	width:32px;
	height:32px;
}
.block .head .title {
	line-height:16px;
	padding:6px 0;
}
.block .body {
	margin:0 10px;
}
.block .push {
	clear:both;
}
img {
	border:none;
}
