@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

button[dlgtype="back"],
button[dlgtype="next"] {
    display: none;
}

wizard {
    min-height: 44em;
    min-width: 53em;
}

#license-frame {
    -moz-appearance: none;
    margin: 2px 4px;
    border: 2px solid;
    -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
    -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
    -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
    -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
    background-color: -moz-Field;
    color: -moz-FieldText;
}

button + spacer[style] {
    display: none;
}
