@import url("chrome://global/skin/");
@import url("chrome://rambler_plugbar/content/bindings/chevron/chevron.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


#rambler_plugbar-Toolbar toolbarbutton > .toolbarbutton-menubutton-button {
	-moz-box-orient: horizontal;
}

#rambler_plugbar-Toolbar {
	font-family: Tahoma,Verdana,Arial,sans-serif;
	font-size: 11px;
}

#rambler_plugbar-Toolbar toolbaritem textbox {
	margin:  4px 0;
	font-size: 1em;
}

#rambler_plugbar-Toolbar *[plugtype="widget"], 
#rambler_plugbar-Toolbar *[wgtype="static"] {
	margin: 0 4px;
	padding-left: 4px;
	padding-right: 4px;
}

#rambler_plugbar-Toolbar toolbarbutton[type="menu"] .toolbarbutton-text:not([value=""]),
#rambler_plugbar-Toolbar toolbarbutton[type="menu-button"] .toolbarbutton-text:not([value=""]){
    padding-right: 2px;
}

#rambler_plugbar-Toolbar html|*.textbox-input:-moz-placeholder {
	font-style: normal;
}

#rambler_plugbar-Toolbar menuseparator {
	display: none;
}
#rambler_plugbar-Toolbar menuitem + menuseparator {
	display: -moz-box;
}

/* facebook unit styles */
#rambler_plugbar-Toolbar toolbarbutton.logout menuitem,
#rambler_plugbar-Toolbar toolbarbutton.logout menuseparator,
#rambler_plugbar-Toolbar toolbarbutton menuitem.when-logged-out,
#rambler_plugbar-Toolbar toolbarbutton menuseparator.when-logged-out {
	display: none;
}

#rambler_plugbar-Toolbar toolbarbutton.logout menuitem.when-logged-out,
#rambler_plugbar-Toolbar toolbarbutton.logout menuseparator.when-logged-out {
	display: -moz-box;
}

toolbarbutton[plugunit="facebook"] menuitem.news {
	list-style-image: url("chrome://rambler_plugbar/skin/units/facebook/news.png") !important;
}
toolbarbutton[plugunit="facebook"] menuitem.profile {
	list-style-image: url("chrome://rambler_plugbar/skin/units/facebook/profile.png") !important;
}
toolbarbutton[plugunit="facebook"] menuitem.friends {
	list-style-image: url("chrome://rambler_plugbar/skin/units/facebook/friends.png") !important;
}
toolbarbutton[plugunit="facebook"] menuitem.messages {
	list-style-image: url("chrome://rambler_plugbar/skin/units/facebook/messages.png") !important;
}
toolbarbutton[plugunit="facebook"] menuitem.notifications {
	list-style-image: url("chrome://rambler_plugbar/skin/units/facebook/notifications.png") !important;
}
toolbarbutton[plugunit="facebook"] menuitem.photo {
	list-style-image: url("chrome://rambler_plugbar/skin/units/facebook/photo.png") !important;
}
toolbarbutton[plugunit="facebook"] menuitem.notes {
	list-style-image: url("chrome://rambler_plugbar/skin/units/facebook/notes.png") !important;
}
toolbarbutton[plugunit="facebook"] menuitem.events {
	list-style-image: url("chrome://rambler_plugbar/skin/units/facebook/events.png") !important;
}
