/*
maс
*/
#rambler_plugbar-Toolbar menu,
#rambler_plugbar-Toolbar menuitem {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 12px;
}

#rambler_plugbar-Toolbar .toolbarbutton-text {
  margin: 0 !important;
  padding: 0 0 0 3px;
  text-align: center;
}

#rambler_plugbar-Toolbar .toolbarbutton-menubutton-button .toolbarbutton-text {
  padding: 0;
}

#rambler_plugbar-Toolbar .toolbarbutton-menubutton-button .toolbarbutton-text:not([value=""]) {
  padding-left: 3px;
}

/* dropmarker */
#rambler_plugbar-Toolbar toolbarbutton dropmarker {
	list-style-image: url("chrome://rambler_plugbar/skin/arrow.png") !important;
	width: 9px;
}

#rambler_plugbar-Toolbar .toolbarbutton-menubutton-dropmarker {
  -moz-appearance: none;
  padding: 3px 3px 3px 1px;
  border: none;
  background-color: transparent;
  width: auto;
  margin-top: 0;
}

#rambler_plugbar-Toolbar .toolbarbutton-menu-dropmarker {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
  padding: 0;
  width: auto;
  height: auto;
  margin-top: 1px;
}