@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

button {
    -moz-appearance: none !important;
    margin: 0 1px 0 0 !important;
    padding: 0 !important;
    border: none !important;
    
    width: 16px;
    -moz-box-orient: vertical;
    -moz-user-focus: none;
}

toolbar button image {
    list-style-image: url("r-images/down.png");
    width:  13px;
    height: 16px;
    margin: -10px 0 !important;
}
toolbar[xbmark-multirow] button image {
    list-style-image: url("r-images/up.png");
}

button > .top {
    height: 4px;
}

button > .middle {
    -moz-box-flex: 1;
    -moz-box-align: start;
    -moz-box-pack: center;
    padding-top: 11px;
    padding-right: 3px;
    padding-left:  3px;
    border-left: 1px solid;
    -moz-border-left-colors: #a0a0a0 #d0d0d0
}
/* -moz-border-left-colors: ThreeDShadow ThreeDLightShadow;	 */
button > .bottom {
    height: 4px;
}
