@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbar[appname="rambler_plugbar"] {
    -moz-binding: url("r-chevron.xml#toolbar") !important;
}

toolbar[appname="rambler_plugbar"] toolbarseparator {
    min-height: 22px;
}

toolbar[appname="rambler_plugbar"][xbmark-multirow] > [hidden="true"] {
    display: none;
}
