@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.toolbar-container {
    overflow: hidden !important;
}

toolbar[xbmark-multirow] > * > .toolbar-container {
    display: block;
    overflow: inherit !important;
}
toolbar:not([xbmark-glut]) > * > button.button {
    display: none;
}

toolbar > hbox > button.button {
    -moz-binding: url("r-chevron.xml#button") !important;
}