@namespace url(http://www.w3.org/1999/xhtml);

html,
body {
    height:100%
}
body {
    margin:0;
    padding:0;
}

a { text-decoration:none; }
a:hover { text-decoration:underline; }

.b-about {
    background:#2e3033 url(about__bg.gif);
    font-family:"Arial","Helvetica",sans-serif;
    font-size:1.2em;
    color:#aaa;
}

.b-about-wrapper a { text-decoration:none; }
.b-about-wrapper a:hover { text-decoration:underline; }

.b-about-wrapper {
    width:500px;
    min-height:295px;
    background:url(about__logo.gif) no-repeat -1px 1px;
}
.b-about-logo {
    float:left;
    width:195px;
    height:195px;
    display:block;
    margin:38px 0 0 18px;
    padding:0;
}
.b-about-container {
    margin:0 0 0 246px;
    padding:29px 0;
}
.b-about-title {
    font-size:1.225em;
    font-weight:bold;
    line-height:1.1;
    color:#fff;
    margin:0 0 3px;
    padding:0;
}
.b-about-subtitle {
    font-size:0.8em;
    font-weight:normal;
    line-height:1.4;
    color:#fff;
    margin:0 0 24px;
    padding:0;
}
.b-about-version {
    font-size:0.8em;
    font-weight:normal;
    line-height:1.4;
    margin:0 0 24px;
    padding:0;
}
.b-about-goods {
    list-style:none;
    font-size:0.8em;
    font-weight:normal;
    line-height:1.4;
    margin:0 0 37px;
    padding:0;
}
.b-about-goods__item {
    margin:0 0 3px;
    padding:0;
}
.b-about-goods__link {
    color:#94d9ff;
}
.b-about-copy {
    font-size:0.8em;
    font-weight:normal;
    line-height:1.4;
    margin:0;
    padding:0;
}