@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

window, prefwindow {
  font-size: 9pt;
  line-height: 11pt;
  font-weight: normal;
  font-family: Tahoma,Verdana,Arial,sans-serif;
}
prefwindow {
  height: auto !important;
  width: auto !important;
}

#rambler_plugbar-prefwindow button.dialog-button[icon="accept"],
#rambler_plugbar-prefwindow button.dialog-button[icon="cancel"] {
	display: none !important;
}

.f-12 { font-size: 12px; }
.f-13 { font-size: 13px; }
.f-bold { font-weight: bold; }
.f-red  { color: #f00; }
.f-blue { color: #00f; }
.bg-white { background-color: #fff; }

.f-link {
  color: -moz-nativehyperlinktext;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.f-link:-moz-focusring {
  border: 1px dotted -moz-DialogText;
}

.wgt-pref-wrapper > vbox > hbox:first-of-type > label.f-link {
	display: none;
}

html|a {
  color: -moz-nativehyperlinktext;
}  

html|a:-moz-focusring {
  border: 1px dotted -moz-DialogText;
}

.prefs-container { margin-bottom: 0px; }
.prefs-container html|input.textbox-input { padding: 2px 0 2px 0 !important; }

richlistbox.dragdrop {
	-moz-binding: url("bindings/draglist.xml#richlistbox-dragdrop") !important;
}

richlistbox.dragdrop richlistitem{
  -moz-binding: url("bindings/draglist.xml#richlistitem-dragdrop") !important;
}

richlistbox[class=dragdrop]:focus > richlistitem[selected="true"] {
  background-color: #ddd !important;
  color: -moz-FieldText !important;
}

vbox[anonid="scaler"] {
    -moz-binding: url("bindings/draglist.xml#scaler");
}

richlistitem {
	min-height:36px !important;
	max-height:36px !important;
	width: 200px;
	padding:8px;
}

richlistitem image.w16h16 {
	height: 16px !important; 
	width:  16px !important;
	list-style-position: inside !important;
}

richlistitem hbox.draglist-image-wrapper {
    min-width: 20px;
    -moz-box-align: center;
    -moz-box-pack: center;
}

richlistitem image.draglist-image {
    min-width: 1px;
    max-width: 96px;
    min-height: 16px;
    max-height: 16px;
    margin: 1px 1px 1px 3px;
}

scale[tune="scaler"] .scale-slider {
	-moz-appearance: none !important;
    max-width:  28px;
    min-width:  28px;
    max-height: 20px;
    min-height: 20px;	
	background: url("chrome://rambler_plugbar/skin/scaler/on.png")  52% 52% no-repeat !important; 
}

scale[tune="scaler"][value="0"] .scale-slider {
	background: url("chrome://rambler_plugbar/skin/scaler/off.png")  52% 52% no-repeat !important; 
}

scale[tune="scaler"][disabled="true"] .scale-slider {
	background: url("chrome://rambler_plugbar/skin/scaler/off.png")  52% 52% no-repeat !important; 
}

scale[tune="scaler"] .scale-thumb {
	-moz-appearance: none !important; 
	/* -moz-binding: url("bindings/draglist.xml#scaler-thumb");	 */
    background: url("chrome://rambler_plugbar/skin/scaler/thumb.png") center no-repeat !important; 
	border: 0px !important;
    max-width:  16px;
    min-width:  16px;
    max-height: 16px;
    min-height: 16px;	
}

richlistitem[dragover-mode="before"] {
	border-top: 3px #B5DDF5 solid !important;
}
richlistitem[dragover-mode="after"] {
	border-bottom: 3px #B5DDF5 solid !important;
}

radio[pane=rambler_plugbar-settings] {
	list-style-image: url("chrome://rambler_plugbar/skin/prefs/settings_mac.png");
	padding-top:4px;
}
radio[pane=rambler_plugbar-widgets] {
	list-style-image: url("chrome://rambler_plugbar/skin/prefs/widgets_mac.png");
	padding-top:4px;
}

.hidden-content > * {
	display: none;
}

.prefs-container .wgt-info {
	margin: 2px 4px;
	border:1px solid ThreeDShadow;
	-moz-border-top-colors: ThreeDDarkShadow; 
	background-color: -moz-Field;
	color: -moz-FieldText;
}
.wgt-info label,  
.wgt-info description {
	margin: 0;
}
.wgt-pref-wrapper {
	padding: 0px;
}

.bottomline {
	border-bottom:1px solid #eee;
}

#wTop-image-box {
	position: relative;
	top: 2px;
}
#wTop-title {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px; 
	color: #373737;
	font-weight: bold; 
}

#wTop-description {
	font-size:13px; 
	line-height: 16px;
	color: #000000; 
}
vbox[preset="finance"] menulist {
	margin: 10px 0;
}
vbox[preset="finance"] label.remove {
	margin-top: 14px;
	padding-left: 10px;
}
vbox[preset="facebook"] > checkbox {
	margin-left: 0;
	padding-left: 0;
}
